body{
    background-color: black;
    color: white;
    width: 100%;
    margin: 0;
}
header{
    position: relative;
    width: 100%;
    height: 200px;
    top: 0;
    left: 0;
}
header>div>img{
    position: absolute;
    width: calc(100vw - 30px);
    height: 400px;
    top: 0;
    left: 0;
    bottom: 0;
}
header>div>a{
    width: fit-content;
    position: absolute;
    top: 0  ;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 9999;
}
header>div{
    position: absolute;
    width: 100%;
    height: 200px;
}
.h3{
    position: absolute;
    left: calc(50vw - 27px);
    top: 50px;
    margin: 0;
    width: fit-content;
    z-index: 9999;
    color: red;
}
.h{
    position: absolute;
    width: fit-content;
    height: fit-content;
    top:55px  ;
    left: calc(50vw - 180px);
    bottom: 0;
    margin: 0;
    z-index: 9999;
    color: red;
    font-size: 60px;
}
.h1{
    position: absolute;
    width: fit-content;
    top:110px  ;
    left: calc(50vw - 80px);
    bottom: 0;
    margin: 0;
    z-index: 9999;
    color: red;
}
main{
    position: absolute;
}
main>article{
    position: absolute;
    top: 20px;
    width: 40vw;
    left: 20px;
}
main>article>h2{
    position: relative;
    width: fit-content;
    top:calc(100vw - 85vw)  ;
    z-index: 9999;
}
main>article>h3{
    background :transparent;
    position: relative;
    width: fit-content;
    top:calc(100vw - 85vw)  ;
    z-index: 9999;
    color: whitesmoke;

}
main>u{
    position: relative;
    left: 45vw;
    width: fit-content;
    top:20vw;

}
article.day-forecast:hover{
    transform: scale(1.5);
}
.forecast {
    position: relative;
    top: 20vw;
    left: 43vw;
    margin: 0;
    padding: 0.3rem;
    background-color: #eee;
    color: black;
    border-bottom: solid 2px #01FE09;
    border-top: solid 2px #FE0101;
}

.forecast > h1,
.day-forecast {
    margin: 0.5rem;
    padding: 0.3rem;
    font-size: 1.2rem;
}

.day-forecast {
    background: right/contain content-box border-box no-repeat  white;
}

.day-forecast > h2,
.day-forecast > p {
    margin: 0.2rem;
    font-size: 1rem;
}
.day-forecast > h2,
.day-forecast > p {
    margin: 0.2rem;
    font-size: 1rem;
}
footer{
    position: absolute;
    color: white;
    top:1050px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;

}
footer>div{
    position: absolute;
    background-color: rgb(34, 205, 22);
    box-shadow: rgb(12, 13, 12) 0px -50px 36px -28px inset;
    width: 100%;
    height: 200px;
    background: linear-gradient(to bottom, black, rgb(25,25,112));
    color: black;
}
div{
    position: absolute;
}
footer>div>h1 {
    position: relative;
    color: white;
    top: 5vw;
    left:0;
    right: 50px;
    bottom: 0;
    margin: auto;
    width: fit-content;

}
footer>div>nav{
    width: fit-content;
    position: absolute;
    right: 0;
    bottom: 20px;
}
footer>div>h3{
    width: fit-content;
    position: absolute;
    left: 0;
    bottom: 0;
}
.call{
    position: absolute;
    bottom: 20px;
}
main>a>button{
    position: relative;
    /*top: 50vw;*/
    width: 150px;
    height: 40px;
    color: black;
    background-color: #eeeeee;
    border-radius: 15px ;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    top: 21vw;
    left: 70vw;
}
main>a>button:hover {
    box-shadow: rgb(12, 13, 12) 0px -50px 36px -28px inset;
}

@media all and (max-width:1440px) {
    header>div>img{
        width: 100%;
    }
    main>u{
        left: 800px;
        top:220px;
    }
    .forecast {
        top: 250px;
        left: 800px;
        }

    footer{
        top:1000px;
    }
}
@media all and (max-width:1024px) {
    header>div>img{
        width: 100%;
    }
    main>article{
        top: 50px;
    }
    main>u{
        left: 550px;
        top:200px;
    }
    .forecast {
        top: 200px;
        left: 550px;
    }

    footer{
        top:1050px;
    }
}
@media all and (max-width:768px) {
    main>article{
        top: 100px;
    }
    main>article>h2{
        font-size: 20px;
    }
    main>article>h3{
        font-size: 15px;
    }
    main>u{
        left: 400px;
        top:200px;
    }
    .forecast {
        top: 200px;
        left: 400px;
    }
    main>a>button{
        top: 220px;
    }
    footer{
        top:1000px;
    }
}
@media all and (max-width:425px) {
    .h{
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        margin: auto;
        font-size: 40px;
    }
    header>div>img{
        height: 250px;
    }
    main>article{
        top: 0;
    }
    main>article{
        width: 72%;
        font-size: 15px;
    }
    main>u{
        left: 30px;
        top:620px;
    }
    .forecast {
        top: 620px;
        left: 30px;
    }
    main>a>button{
        top: 640px;
        left: 100px;
    }
    footer{
        top:1400px;
    }
    footer>div>h1 {
        top: 50px;
        font-size: 20px
    }
    footer>div>nav>a>img{
        width: 30px;
    }
}
@media all and (max-width:375px) {
    main>u{
        left: 30px;
        top:700px;
    }
    .forecast {
        top: 700px;
        left: 30px;
    }
    main>a>button{
        top: 720px;
        left: 80px;
    }
    footer{
        top:1530px;
    }
}
@media all and (max-width:375px) {
    main>u{
        left: 30px;
        top:750px;
    }
    .forecast {
        top: 750px;
        left: 30px;
    }
    main>a>button{
        top: 770px;
        left: 80px;
    }
    footer{
        top:1630px;
    }
}