body{
    background: black;
    color: white;
}
header{
    position: relative;
}
.label{
    position: absolute;
    width: fit-content;
    top: 7vh;
    left: 0;
    right: 0;
    margin: auto;
    display: none;
    color: white;
}
main{
    position: absolute;
    top: 8vh;
}
.minimize{
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    cursor: pointer;
}

main>h1{
    position: absolute;
    /*top: 10px;*/
    top: 5vh;
    left: 40vw;
    font-size: 40px;
    width: fit-content;
}

.assignment{
    position: relative;
    margin: 0;
    top: 20vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;


}
.cart{
    position: relative;
    width: 300px;
    height: 300px;
    border: red solid 1px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 100px;
}



.assignment_img {
    width: 140px;
    height: 120px;
    position: relative;
}
.text{
    position: absolute;
    left: 0;
    right: 0;
    top: 210px;
    margin: auto;
    width: fit-content;
    font-weight: bold;
    font-size: 25px;
}
.button{
    position: absolute;
    top: 250px;
    left: 0;
    right: 0;
    margin: auto;
    width: fit-content;
    border-radius: 20px;

}
.button button{
    width: 150px;
    height: 30px;
    /*border-radius: 10%;*/
    background:  #229091;
    font-size: 25px;
    border-radius: 20px;
}
.button button:hover{
    background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet, red);
    animation:slidebg 2s linear infinite;
}

@keyframes slidebg {
    to {
        background-position:20vw;
    }
}

button {
    font-family: system-ui, sans-serif;
    font-size: 3.5rem;
    cursor: pointer;
    padding: .1em .6em;
    font-weight: bold;
    border: none;
}
/*.assignment_img img:hover{*/
/*    clip-path: circle(0.0% at 50% 50%);*/
/*}*/

.assignment_img:hover figcaption{
    --_i: 0%;
}
.assignment_img:hover img {
    transform: scale(1.2);
}





