body{
    background-color: black;
    font-style: oblique;
    color: white;

}
header{
    position: absolute;
}
header>div{
    width: calc(100vw - 20px);
    height: 50px;
    background-color: black;
    position: sticky;
    top: 0;
    box-shadow:rgb(254, 15, 15) 0px -50px 36px -28px inset;
    z-index: 9999;
}
header>div>nav>a{
    position: relative;
    top:15px;
    left: calc(100vw - 400px);
    font-size:15px;
    font-style: oblique;
    margin-left: 20px;
    color: white;
}

section{
    position: relative;
    width: calc(100vw - 20px);
}
section>div{
    position: relative;
    width: calc(100vw - 20px);
}
section>div>img{
    position: relative;
    width: calc(100vw - 20px);
}
.image{
    position: sticky;
    top: 0;
}
section>div>h3{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: fit-content;
    height: fit-content;
    font-size: 70px;
}
section>div>h2{
    position: absolute;
    width: fit-content;
    height: fit-content;
    top: 200px;
    font-size: 10px;
    left: 35vw;
    right: 0;
    bottom: 0;
    margin: auto;
}
section>div>h1{
    position: absolute;
    width: fit-content;
    height: fit-content;
    top: calc(100vw - 90vw);
    font-size: 50px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
main>section>div>nav:hover{
    background-color: red;
    width: 50px;
    aspect-ratio: 1/1;
    border-radius: 100%;

}
.m{
    position: absolute;
    top: 0;
    left: 60vw;
    right: 0;
    bottom: 0;
    /*margin: auto;*/
    width: fit-content;
    height: fit-content;
    font-size: 70px;

    text-transform: uppercase;
    background-image: linear-gradient(
            -225deg,
            #231557 0%,
            #44107a 29%,
            #ff1361 67%,
            #fff800 100%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    /*background-clip: text;*/
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
    font-size: 100px;
}
@keyframes textclip {
    to {
        background-position: 200% center;
    }
}
section>div>nav{
    position: absolute;
    bottom: 100px;
    left: 0;
    right: 0;
    margin: auto;
    width: fit-content;
    height: fit-content;
}
footer{
    position: absolute;
    color: white;
    top:280vw;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
footer>div{
    position: absolute;
    /*background-color: rgb(34, 205, 22);*/
    /*box-shadow: rgb(12, 13, 12) 0px -50px 36px -28px inset;*/
    width: 100%;
    height: 200px;
    background: linear-gradient(to bottom, black, rgb(25,25,112));
    color: black;
}
div{
    position: absolute;
}
footer>div>h1 {
    position: relative;
    color: white;
    /*left: calc(100vw - 57vw);*/
    top: 0;
    left:0;
    right: 50px;
    bottom: 0;
    margin: auto;
    width: fit-content;

}
footer>div>nav{
    width: fit-content;
    position: absolute;
     right: 0;
    bottom: 20px;
}
footer>div>h3{
    width: fit-content;
    position: absolute;
    left: 0;
    bottom: 0;
    /*left: 0;*/
}
.call{
    position: absolute;
    bottom: 20px;
}