:root{
    --box-width:400px;
    --box-height:100px;
}
body{
    overflow: hidden;
}
div{
    /*width: var(--box-height);*/
    /*height: var(--box-height);*/
    width: 200px;
    height: 100px;
    background-color: blue;
    border-radius: 20px;
    animation-name: my-animation;
    animation-duration: 3s;
    animation-iteration-count: 20;
}
@keyframes my-animation {
    0%{
        margin-top: 0;
        margin-left: 0;

    }
    25%{
        margin-top: 0;
        margin-left: calc(100vw - 200px);
        background-color: red;
        transform: rotate(180deg);

    }
    50%{
        margin-top: calc(100vw - 200px);
        margin-left: calc(100vw - 100px);
        transform: rotate(0deg);
    }
    75%{
        margin-top: calc(100vw - 200px);
         margin-left: 0;
        transform: rotate(180deg);
    }


}