
@media all and (max-width:1440px) {

    /*footer{*/
    /*    position: a;*/
    /*    */
    /*}*/
    .icon{
        position: relative;
        top: 5vh;
        left: -0vh;
        width: 40px;

    }
    footer>div{
        position: absolute;
        /*top: 190vh;*/
        /*bottom: 0;*/
        background-color: rgb(34, 205, 22);
        box-shadow: rgb(12, 13, 12) 0px -50px 36px -28px inset;
        width: 100%;
        height: 200px;
        background: linear-gradient(to bottom, black, rgb(25,25,112));
        color: black;
    }

    footer>div>h1 {
        position: relative;
        color: white;
        top: 5vw;
        left:0;
        right: 50px;
        bottom: 0;
        margin: auto;
        width: fit-content;

    }
    footer>div>nav{
        width: fit-content;
        position: absolute;
        right: 44vw;
        top: 0px;
    }
    footer>div>h3{
        width: fit-content;
        position: absolute;
        top: 10vw;
        left: 40vw;

    }
    .call{
        position: relative;
        top: 5vw;
        left: 44vw;
    }

    .img{
        position: absolute;
        width: 99.5vw;
        height: 400px;
    }
    .h3{
        position: relative;
        top: 15vh;
    }
    .h{
        position: relative;
        top: 15vh;
    }
    .h1{
        position: relative;
        top: 12vh;
        left: 40vw;
        font-size: 50px ;
    }
    #name{
        position: absolute;
        top: 0vh;
        font-family: "Trirong", serif;
        font-size: 30px;
    }
    main>article>h3{
        position: relative;
        top: 10vh;
        font-size: 20px;
    }
    button{
        position: relative;
        width: 200px;
        height: 40px;
        color: black;
        background-color: #eeeeee;
        border-radius: 15px ;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
        top: 20vw;
        left: 75vw;
        bottom: 4vw;
    }
}
@media all and (max-width:1024px) {
    .img {
        width: 98.5vw;
    }

    main > article {
        position: absolute;
        top: 20vw;
        width: 50vw;

    }

    main > article > h2 {
        font-size: 30px;
    }

    main > article > h3 {
        font-size: 20px;
    }

    main > u {
        left: 550px;
        top: 200px;
    }

    .forecast {
        top: 200px;
        left: 550px;
    }

    main > a > button {
        position: absolute;
        top: 60vw;
        left: 75vw;
    }

    .range {
        width: 300px;
        height: 20px;
    }

    .box {
        position: absolute;
        top: 10vw;
        left: 5vw;
    }

    .h3 {
        position: absolute;
        top: 14vh;
    }

    .icon {
        position: relative;
        width: 40px;

    }
    footer{
        /*display: none;*/
        top: 50vh;
    }

    #footerh1 {
        top: 10vh;
    }

    .call {
        left: 43vw;
    }
    .gmail{
        left: 38vw;
    }

    .activity{
        top: 160vh;
    }
    .responsive{
        top: 180vh;
        width: 200px;
    }
    .learn{
        top: 230vh;
    }
    .media{
        top: 200vh;
    }
}
@media all and (max-width:925px) {
    footer{
        position: relative;
        bottom: 0;
    }
    main>a>button{
        top: 70vw;
        left: 80vw;
        width: 100px;
    }
    footer>div>h3{
        width: fit-content;
        position: absolute;
        top: 12vw;
        left: 30vw;

    }
    .call{
        position: relative;
        top: 5vw;
        left: 42vw;
    }
    .icon{
        position: relative;
        width: 20px;
        left: 0vw;
    }
}
@media all and (max-width:788px) {
    main > article {
        position: absolute;
        top: 25vw;
        width: 50vw;
        height: 100vh;

    }
    #name{
        font-size: 20px;
    }
    main>article>h3{
        font-size: 15px;
    }
    main>a>button{
        top: 70vw;
        left: 80vw;
        width: 100px;
    }
    .range{
        width: 180px;
    }
}
@media all and (max-width:768px) {
    .img{
        position: absolute;
        width: 98.5vw;
        height: 250px;
    }
    .h{
        position: absolute;
        left: 28vw;
    }
    .h1{
        position: absolute;
        top: 25vh;
        left: 35vw;
    }
    .h3{
        position: absolute;
        top: 12vh;
        left: 47vw;
    }
    main>article{
        position: relative;
        top: 10vh;
    }
    #name{
        position: absolute;
        top: 0vh;
        font-family: "Trirong", serif;
        font-size: 20px;
    }
    .box{
        position: absolute;
        left: 0;
    }
    .range{
        width: 250px;
    }
    .range__label{
        transform: skew(0deg) translateY(-100%);
        line-height: 1.5;
    }
    main>a>button{
        top: 70vw;
        left: 80vw;
        width: 100px;
    }
.gmail{
    left: 30vw;
}
    .call{
        position: relative;
        top: 10vw;
        left: 37vw;
    }
    footer>img{
        width: 20px;
    }
    #footerh1{
        position: absolute;
        color: #01FE09;
        left: 3vw;
    }
    .activity{
        top: 125vh;
    }
    .responsive{
        top: 40vh;
        width: 200px;
    }
    .learn{
        top: 230vh;
    }
    .media{
        top: 100vh;
       left: 0vw;
    }
    .learn_icon>img{
        position: absolute;
        left: 0;
        width: 50px;
    }

}
@media all and (max-width:550px) {
    .activity{
        top: 160vh;
        left: 34vw;
    }
    .responsive{
        top: 110vh;
        width: 100px;
        width: 100px;
        left: 1px;
    }
    .learn{
        position: absolute;
        top: 230vh;
        left: 30vw;
        margin: 0;
        width: fit-content;
    }
    /*.media{*/
    /*    display: flex;*/
    /*    justify-content: space-around;*/
    /*    top: 170vh;*/
    /*    left: 5vw;*/

    /*}*/
    .icon_section{
        position: relative;
        top: 30vh;
        display: flex;
      flex-wrap: wrap;
        float: left;
    }
    .media{
        left:10vw;
    }
    .dark_mood{
        width: 100px;
    }
    main>a>button{
        position: absolute;
        top: 160vh;
        left: 48vw;
        z-index: 9999;
    }
    .gallery_section{
        position: relative;
        left: 10vw;
    }

}
@media all and (max-width:575px) {
    .h{
        left: 5vw;
        right: 0;
        bottom: 0;
        top: 0;
        margin: auto;
        font-size: 30px;
    }
    .h3{
        position: absolute;
        top: 10vh;
        left: 45vw;
    }
    .h1{
        position: absolute;
        top: 19vh;
        left: 39vw;
        font-size: 30px;
    }
    .icon{
        position: absolute;
        left: 5vw;
    }
    .img{
        width: 98.5vw;
        height: 30vh;
    }
    main>article{
        position: absolute;
        width: 80vw;
        height: 700px;
        top: 0vh;
    }
    .box{
        position: relative;
        top: 60vh;
        left: 10vw;

    }
    .range{
        width: 300px;
        height: 20px;
        left: 0;
    }
    main>article>h3{
        font-size: 15px;
    }
    main>a>button{
        position: absolute;
        top: 156vh;
        left: 48vw;
        z-index: 9999;
        width: 100px;
        height: 30px;
        font-size: 5px;
    }
    footer{
        position: absolute;
        width: 100%;
        bottom: 0;

    }

    .call{
        position: relative;
        top: 12vh;
        left: 35vw;
    }
    .gmail{
        left: 25vw;
        top: 15vh;
    }
    .icon{
        position: relative;
        top: 5vh;
        left: 0;
        width: 20px;

    }
    #footerh1{
        position: absolute;
        top: 10vh;
        left: 3vw;
    }

}
@media all and (max-width:425px) {
    .h{
        left: 7vw;
        right: 0;
        bottom: 0;
        top: 0;
        margin: auto;
        font-size: 30px;
    }
    .h3{
        position: absolute;
        top: 10vh;
        left: 45vw;
    }
    .h1{
        position: absolute;
        top: 19vh;
        left: 36vw;
        font-size: 30px;
    }
    .icon{
        position: absolute;
        left: 5vw;
    }
 .img{
        width: 500px;
        height: 180px;
    }
    main>article{
        position: absolute;
        width: 80vw;
        height: 700px;
        top: 0vh;
    }
    .box{
        position: relative;
        top: 110vw;
        left: 10vw;

    }
    .range{
        width: 300px;
        height: 20px;
        left: 0;
    }
  main>article>h3{
      font-size: 15px;
  }
    main>a>button{
        position: absolute;
        top: 225vw;
        left: 60vw;
    }
   .gmail{
        width: fit-content;
        position: absolute;
        top: 25vw;
        left: 18vw;

    }
    .call{
        position: relative;
        top: 20vw;
        left: 28vw;
    }
   .icon{
       position: relative;
       top: 5vh;
       left: 0;
       width: 20px;

   }
    #footerh1{
        position: absolute;
        top: 10vh;
        left: 3vw;
    }
    .activity{
        top: 160vh;
        left: 34vw;
    }
    .responsive{
        top: 110vh;
        width: 100px;
        width: 100px;
        left: 1px;
    }
    .learn{
        top: 220vh;
        left: 34vw;
    }
    .media{
        top: 130vh;
        left: 5vw;

    }
    .dark_mood{
        width: 100px;
    }

}
@media all and (max-width:375px) {
    .img{
        width: 98.5vw;
    }
    main>article{
        position: absolute;
        width: 100vw;
        height: 700px;
        top: 0;
    }

    header>div>a>img{
        position: relative;
        top: 0;
        left: 45px;
    }
    .h3{
        position: relative;
        top: 40px;
        left: 58vw;
    }
    .box{
        position: relative;
        top: 120vw;
        left: 9vw;
    }
    .h{
        left: 7vw;
        right: 0;
        bottom: 0;
        top: 0;
        margin: auto;
        font-size: 30px;
    }
    .h3{
        position: absolute;
        top: 10vh;
        left: 45vw;
    }
    .h1{
        position: absolute;
        top: 19vh;
        left: 34vw;
        font-size: 30px;
    }
    main>article{
        width: 300px;
    }
    main>article>h3{
      font-size: 12px;
  }
    main>a>button{
        top:250vw;
        left: 65vw
    }
    footer{
        top:200vw;
    }
    .gmail{
        width: fit-content;
        position: absolute;
        top: 25vw;
        left: 10vw;

    }
    .call{
        position: relative;
        top: 20vw;
        left: 25vw;
    }

    .activity{
        top: 160vh;
    }
    .responsive{
        top: 110vh;
        width: 100px;
        left: 8vw;
    }
    .learn{
        top: 260vh;
    }
    .media{
        top: 165vh;
    }
}
@media all and (max-width:320px) {
    .h3{
        left: 43vw;
    }
    .h1{
        top:19vh ;
        left: 30vw;
    }

    main>a>button{
        width: 100px;
        top: 270vw;
        left: 300px;
    }
    main>article{
        position: absolute;
        width: 100vw;
        height: 60vw;
        top: 0;
    }
    .box{
        position: relative;
        top: 160vw;
    }

    main>article{
        width: 250px;
    }
    main>article>h3{
        font-size: 12px;
    }
    main>a>button{
        top:310vw;
        left: 40vw;
        width: 100px;
        height: 20px;
        font-size: 5px;
    }
    /*footer{*/
    /*    top:300vw;*/
    /*}*/
    footer>div>h3{
        width: fit-content;
        position: absolute;
        top: 30vw;
        left: 5vw;

    }
    .call{
        position: relative;
        top: 29vw;
        left: 25vw;
    }

    .range{
        width: 190px;
    }

    .activity{
        top: 166vh;
    }
    .responsive{
        top: 120vh;
        width: 80px;
        height: 50px;
        margin-bottom: 120px;
    }
    .desc{
        display: none;
    }
    .learn{
        top: 240vh;
        left: 25vw;
    }
    .media{
        top: 170vh;
    }


}