/*@media all and (max-width: 1440px){*/
/*    .container{*/
/*        width: 1000px;*/
/*        position: relative;*/
/*        display: flex;*/
/*        justify-content: space-between;*/
/*    }*/

/*    .container .card{*/
/*        position: relative;*/
/*        cursor: pointer;*/
/*        left: 0;*/
/*        padding: 2vw;*/
/*    }*/
/*    button{*/
/*        position: relative;*/

/*    }*/
/*}*/


@media all and (max-width: 1024px){

    .container{
        width: 100%;
        position: relative;
        top: 10vh;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .assingmentBtn>button{
        position: absolute;
        top: 230vh;
        right: 10vw;
        color: red;
        background-color: black;
        width: 150px;
        height: 60px;
        border-radius: 10px 11px 21px 6px;


    }


}

@media all and (max-width: 768px){



}

@media all and (max-width:511px) {
    .dark_mood{
        left: 0;
        width: 100px;
        height: 60px;
    }
    .container{
        top: 20vh;
    }
    .assingmentBtn>button{
        position: absolute;
        top: 250vh;
        right: 10vw;
    }
    .container .card .face{
        width: 200px;
        height: 200px;
        transition: 0.5s;
    }

}


@media all and (max-width:425px) {
    .assingmentBtn>button{
        position: absolute;
        top: 420vh;
        right: 10vw;
        color: red;
        background-color: black;
        width: 150px;
        height: 60px;
        border-radius: 10px 11px 21px 6px;


    }

}


@media all and (max-width:375px) {
    .dark_mood{
        left: 0;
        width: 100px;
        height: 60px;
    }
    .container{
        top: 20vh;
    }
    .assingmentBtn>button{
        position: absolute;
        top: 470vh;
        right: 10vw;
    }
    .container .card .face{
        width: 200px;
        height: 200px;
        transition: 0.5s;
    }
}

@media all and (max-width:320px) {
    .dark_mood{
        left: 0;
        width: 100px;
        height: 60px;
    }
    .container{
        top: 10vh;
    }
    .assingmentBtn>button{
        position: absolute;
        top: 470vh;
        right: 10vw;
    }
    .container .card .face{
        width: 200px;
        height: 200px;
        transition: 0.5s;
        padding-bottom: 10vh;
    }
}